@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "_mixins";
@import "general";
@import "header";
@import "achievements";
@import "footer";

.about {
  margin: 0 auto;

  &__wrapper {
    padding: 0 280px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    margin-bottom: 60px;
  }

  &__boxOne {
    @include width(942px);
  }

  &__boxTwo {
    @include width(362px);
    padding-left: 30px;
    border-left: 4px solid #E6E6F0;
  }

  &__bigTitle {
    display: block;
    position: relative;
    padding: 236px 0 231px;
    opacity: 0.8;
    text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);
    @include paragraph(700, 96px, 117px, #FFFFFF);
    letter-spacing: 63px;
    text-align: center;
    margin-bottom: 60px;
    z-index: 2;

    &__box {
      position: relative;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    @include width(1920px);
    display: flex;
    object-fit: cover;
  }

  &__title {
    @include title;
    margin-bottom: 28px;

    &:nth-child(2) {
      margin-left: 30px;
    }
  }

  &__text {
    @include paragraph(400, 19px,30px, #000000);
  }

  &__num {
    @include title;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;

    &:nth-child(3)::before {
      content: url("../images/icon/group.svg");
      margin-right: 12px;
      width: 32px;
      height: 32px;
    }

    &:nth-child(5)::before {
      content: url("../images/icon/probono.svg");
      margin-right: 12px;
      width: 32px;
      height: 32px;
    }

    &::before {
      content: url("../images/icon/experience.svg");
      margin-right: 12px;
      width: 32px;
      height: 32px;
    }
  }

  &__numtext {
    @include paragraph(400, 16px, 20px, #323264);
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1440px) {
  .about {
    &__wrapper {
      padding: 0 180px;
      grid-template-columns: 1.5fr 1fr;
    }

    &__bigTitle {
      padding: 163px 0 158px;
    }

    &__cover {
      @include width(1440px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    &__wrapper {
      padding: 0 60px;
      grid-template-columns: 1.1fr 1fr;
    }

    &__bigTitle {
      padding: 103px 0 103.47px;
      font-size: 80px;
      line-height: 105px;
    }

    &__cover {
      @include width(1024px);
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    &__wrapper {
      padding: 0 60px;
      grid-template-columns: 1fr;
    }

    &__title {
      &:nth-child(2) {
        margin-left: 0;
      }
    }

    &__bigTitle {
      padding: 89px 0 89px;
      font-size: 46px;
      line-height: 56px;
      letter-spacing: 64px;
    }

    &__cover {
      @include width(768px);
    }
  }
}

@media screen and (max-width: 375px) {
  .about {
    &__wrapper {
      padding: 0 30px;
    }

    &__title {
      font-size: 30px;
      line-height: 37px;
    }

    &__bigTitle {
      padding: 35px 0 35px;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 13px;
    }

    &__cover {
      @include width(375px);
    }
  }
}