@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "_mixins";
@import "general";
@import "header";
@import "footer";

.footer__wrapper {
  border: none;
}

.contact {
  margin: 0 auto;

  &__wrapper {
    margin-bottom: 60px;
    padding: 0 280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }

  &__box-one,
  &__box-two {
    @include flex__column;
    justify-content: flex-start;
    max-width: 650px;
  }

  &__box-two {
    padding: 30px;
    background-color: #F5F5FA;
    border-radius: 12px;
  }

  &__text {
    @include paragraph(400, 21px, 30px, #323264);

  }

  &__link {
    @include paragraph(400, 21px, 30px, #24A3FF);
    margin-top: 15px;
  }

  &__separator {
    margin: 30px 0;
    height: 4px;
    //padding: 2px 0;
    @include width(650px);
    background-color: #E6E6F0;
  }

  &__facebook {
    @include flex__row;
    justify-content: flex-start;

    &:hover p {
      color: #F0145A;
      transition: 300ms ease-in-out;
    }

    &:hover svg {
      fill: #F0145A;
      transition: 300ms ease-in-out;
    }

    &__text {
      margin-left: 10px;
      @include h3Caps(12px, 16px, #24A3FF);
      //@include width(105px);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }

  &__lilTitle {
    @include h3Caps(14px, 17px, #B3B3BA);
    margin-bottom: 15px;
  }

  &__label {
    @include flex__column;
    gap: 15px;
    margin-bottom: 30px;
  }

  &__input {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    @include paragraph(400, 16px, 26px, #000000);
    padding: 15px;

    &:focus {
      outline: none;
      border: 1px solid #24A3FF;
    }


    &:invalid {
      border: 1px solid #FF0000;
      color: #FF0000;
    }

    &::placeholder {
      @include paragraph(400, 16px, 26px, #B3B3BA);

      &:invalid {
        color: #FF0000;
      }
    }
  }

  &__text-area {
    min-height: 130px;
  }

  &__btn {
    @include btn;
    border: none;
    cursor: pointer;

    &:hover {
      background: #0085FF;
    }

    &:active {
      background: #006CCF;
    }
  }
}

@media screen and (max-width: 1440px) {
  .contact {
    &__wrapper {
      padding: 0 180px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    &__wrapper {
      padding: 0 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 375px) {
  .contact {
    &__wrapper {
      grid-gap: 30px;
      margin-bottom: 30px;
    }
  }
}