@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  display: block;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.facebook__white {
  fill: #FFFFFF;
  width: 100%;
  max-width: 24px;
  max-height: 24px;
}
.facebook__white:hover {
  fill: #F0145A;
  transition: fill 300ms ease-in-out;
}

.facebook__gray {
  fill: #B3B3BA;
  width: 100%;
  max-width: 24px;
  max-height: 24px;
}
.facebook__gray:hover {
  fill: #F0145A;
  transition: fill 300ms ease-in-out;
}

.facebook__blue {
  fill: #24A3FF;
  width: 100%;
  max-width: 38px;
  max-height: 38px;
}
.facebook__blue:hover {
  fill: #F0145A;
  transition: fill 300ms ease-in-out;
}

.trust__margin {
  margin-bottom: 60px;
}

.arrow-svg {
  margin-left: 5.5px;
  stroke: #24A3FF;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
.header {
  margin: 0 auto;
  padding: 50px 0 60px;
  z-index: 99;
  position: relative;
}
.header__opacity {
  display: none;
}
.header__wrapper {
  padding: 0 160px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  justify-items: flex-end;
}
.header__logo {
  display: inline-block;
  width: 100%;
  max-width: 130px;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/3;
}
.header__logo__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-start;
}
.header__logo__link {
  display: inline-flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
  margin-left: 4px;
  transform: translateY(-1px);
}
.header__logo__link::before {
  display: inline-flex;
  align-items: center;
  content: url("../images/icon/slash.svg");
  width: 100%;
  max-width: 21px;
  margin-right: 4px;
}
.header__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18.5px;
}
.header__nav-wrapper:nth-child(3) {
  gap: 15px;
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
}
.header__lang {
  font-style: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3BA;
  text-align: center;
  letter-spacing: 1px;
  padding: 5px 6px;
}
.header__lang:active, .header__lang__active {
  background: #F0145A;
  border-radius: 8px;
}
.header__lang:hover {
  background: #E6E6F0;
  border-radius: 8px;
}
.header__dot {
  margin: 0 6px;
  padding: 3px;
  background-color: #E6E6F0;
  border-radius: 50%;
}
.header__phone {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
}
.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
  text-align: right;
}
.header__slash {
  display: none;
}
.header__link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  text-align: right;
}
.header__link:hover {
  text-decoration: underline;
  transition: color 300ms ease-in-out;
}
.header__link:active, .header__link__active {
  color: #F0145A;
  text-decoration: underline;
  transition: color 300ms ease-in-out;
}
.header__burger {
  display: none;
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 50px 0 60px;
  }
  .header__wrapper {
    padding: 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    grid-template-columns: 1fr;
    justify-items: flex-start;
    grid-gap: 30px;
  }
  .header__logo__box {
    grid-row: 2/3;
  }
  .header__nav-wrapper {
    margin-bottom: 0;
  }
  .header__nav-wrapper:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 15px 0 30px;
  }
  .header__opacity {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 375px;
    height: 45px;
    background: #F5F5FA;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .header__wrapper {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: flex-end;
    grid-gap: 0;
    align-items: center;
  }
  .header__logo__box {
    width: 100%;
    max-width: 70px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .header__logo__link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #323264;
    margin-left: 4px;
  }
  .header__logo__link::before {
    display: inline-flex;
    align-items: center;
    content: url("../images/icon/slash_mobile.svg");
    width: 100%;
    max-width: 21px;
    margin-right: 4px;
  }
  .header__facebook {
    display: none;
  }
  .header__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    grid-column: 1/3;
    grid-row: 1/2;
    align-items: start;
  }
  .header__nav-wrapper:nth-child(3) {
    gap: 0;
    margin: 0 0 0 74px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
  }
  .header__dot {
    display: none;
  }
  .header__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    margin-left: 117px;
  }
  .header__text {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px 7px;
    border-radius: 8px;
  }
  .header__burger:active {
    background: #E6E6F0;
  }
  .header__burger__span {
    width: 18px;
    border: 1px solid #323264;
    background-color: #323264;
  }
}
.publications {
  padding: 30px 0;
  background: #F5F5FA;
}
.publications__wrapper {
  max-width: 1600px;
  padding: 0 160px;
}
.publications__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  margin-bottom: 10px;
}
.publications__link:hover {
  color: #F0145A;
  transition: color 300ms ease-in-out;
}
.publications__link:hover svg {
  stroke: #F0145A;
  transition: stroke 300ms ease-in-out;
}
.publications__title {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.publications__box {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  margin-bottom: 30px;
}
.publications__box__card {
  max-width: 513.33px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.publications__box__card__container {
  padding: 30px 30px 0;
}
.publications__box__card__img {
  max-width: 513.33px;
  margin-bottom: 30px;
}
.publications__box__card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  margin-bottom: 15px;
}
.publications__box__card__title:hover {
  color: #F0145A;
  transition: 300ms ease-in-out;
}
.publications__box__card__date {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3BA;
  margin: 15px 0;
}
.publications__box__card__separator {
  width: 100%;
  max-width: 453.33px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 15px;
}
.publications__box__card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 30px;
}

@media screen and (max-width: 1440px) {
  .publications {
    padding: 30px 0;
    background: #F5F5FA;
  }
  .publications__wrapper {
    max-width: 1300px;
    padding: 0 60px;
  }
  .publications__box {
    max-width: 1300px;
  }
  .publications__box__card {
    max-width: 420px;
  }
  .publications__box__card__separator {
    width: 100%;
    max-width: 360px;
  }
}
@media screen and (max-width: 1024px) {
  .publications__wrapper {
    max-width: 904px;
    padding: 0 60px;
  }
  .publications__box {
    max-width: 884px;
  }
  .publications__box__card {
    max-width: 281.33px;
  }
  .publications__box__card__separator {
    width: 100%;
    max-width: 221.33px;
  }
}
@media screen and (max-width: 768px) {
  .publications__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
  }
  .publications__box__card {
    max-width: 309px;
  }
  .publications__box__card:last-child {
    max-width: 648px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .publications__box__card__separator {
    width: 100%;
    max-width: 588px;
  }
}
@media screen and (max-width: 375px) {
  .publications__wrapper {
    padding: 0 30px;
    max-width: 315px;
  }
  .publications__title {
    font-size: 30px;
    line-height: 37px;
  }
  .publications__box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
  }
  .publications__box__card {
    max-width: 315px;
  }
  .publications__box__card:last-child {
    max-width: 315px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .publications__box__card__separator {
    width: 100%;
    max-width: 255px;
  }
}
.footer {
  margin: 0 auto;
  background: #F5F5FA;
}
.footer__wrapper {
  padding: 30px 0;
  border-top: 2px solid #E6E6F0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 21px;
  margin: 0 160px;
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
}
.footer__box:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}
.footer__facebook {
  width: 100%;
  max-width: 38px;
}
.footer__dot {
  background-color: #B3B3BA;
  padding: 3px;
  margin: 0 10px;
  border-radius: 100%;
}
.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.footer__onMap {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #46466E;
}
.footer__email {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.footer__email:hover {
  color: #F0145A;
  transition: color 300ms ease-in-out;
}
.footer__end {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}

@media screen and (max-width: 1440px) {
  .footer__wrapper {
    margin: 0 60px;
  }
}
@media screen and (max-width: 375px) {
  .footer__wrapper {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 30px;
  }
  .footer__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    gap: 10px;
  }
  .footer__box:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 9px;
  }
  .footer__dot {
    display: none;
  }
  .footer__adress {
    color: #323264;
  }
  .footer__end {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
  }
}
.publications__switcher {
  width: 233px;
  height: 42px;
  display: flex;
  background: #E6E6F0;
  border-radius: 12px;
  padding: 2px;
  margin: 0 auto 30px;
}
.publications__switcher__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  padding: 8px 30px 10px 30px;
}
.publications__switcher__link__active {
  background: #FFFFFF;
  border-radius: 10px;
}
.publications__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  margin-bottom: 0;
}
.publications__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #24A3FF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding: 18px 30px;
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
}
.publications__btn:hover {
  background: #0085FF;
}
.publications__btn:active {
  background: #006CCF;
}

/*# sourceMappingURL=publication-page.css.map */
